* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #020e18;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.home-container {
  background: white;
  width: 70vw;
  display: block;
}

.header {
  height: 10vh;
  color: #020e18;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.header img {
  height: 100%;
  padding: 20px;
}

.header h1 {
  font-weight: 400;
  font-size: 50px;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px 30px;
}

.instructions {
  min-height: 40vh;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 24px;
  line-height: 48px;
}

.key-input {
  width: 600px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 0 10px #020e18;
  text-align: center;
}

.start-button {
  width: 300px;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background: #020e18;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px #020e18;
}

.generator-container {
  background: white;
  width: 70vw;
  display: none;
  flex-direction: column;
  align-items: center;
}
.loading-message {
  color: #020e18;
}

.images {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px 30px;
}

.image-container {
  width: 50%;
  padding: 30px;
  overflow: clip;
}

.image-container img {
  width: 100%;
  height: auto;
}

.input {
  height: 10vh;
  width: 80%;
  display: flex;
  justify-content: center;
  position: relative;
}

.input-container {
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
}

.input input {
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 0 10px #020e18;
  text-align: center;
}

.submit-button {
  position: absolute;
  right: 9%;
  cursor: pointer;
}

.submit-button i {
  color: #939ca3;
  font-size: 32px;
}
